<IfModule mod_rewrite.c>
    RewriteEngine On
    Options -Indexes

    # Blokir akses publik ke folder .git
    RedirectMatch 404 /\.git

    # Set default index ke public/index.php
    DirectoryIndex public/index.php index.php

    # Alihkan seluruh traffic ke folder public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

DirectoryIndex public/index.php index.php
